    @import "tailwindcss/base";
    @import "tailwindcss/components";
    @import "tailwindcss/utilities";
    /* Set-up */
    
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-transform: uppercase;
        font-family: sans-serif;
    }
    
    section {
        height: 100vh;
    }
    
    .drop-shadow {
        height: 100%;
        width: 100%;
        filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 10em;
            height: calc(100% - 20em);
            width: calc(100% - 20em);
            border-top: 2px solid rgba(225, 225, 225, 0.2);
            border-left: 1px solid rgba(225, 225, 225, 0.1);
            border-right: 1px solid rgba(225, 225, 225, 0.3);
            z-index: 2;
            //  filter: blur(1px);
        }
    }
    
    .screen-carousel-1 {
        perspective-origin: center right;
        width: 900px;
        height: 600px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        -webkit-perspective: 1000px;
        perspective: 1000px;
        .cube {
            width: 300px;
            height: 300px;
            transform-style: preserve-3d;
            position: relative;
            // transform: rotateX(-92deg);
        }
        .one-screen {
            width: 300px;
            height: 300px;
            transition: opacity 0.3s;
            background-color: rgb(163, 163, 163);
            transform-style: preserve-3d;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        /* The two faces of the one-screen */
        .front,
        .bottom,
        .left,
        .right,
        .top,
        .back {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 100;
            background-repeat: no-repeat;
        }
        /* Position the faces */
        .front {
            transform: rotateY(0deg) translateZ(150px);
        }
        .right {
            transform: rotateY(90deg) translateZ(150px);
        }
        .back {
            transform: rotateY(180deg) translateZ(150px);
        }
        .left {
            transform: rotateY(270deg) translateZ(150px);
        }
        .top {
            transform: rotateX(90deg) rotateZ(90deg) translateZ(150px) translateY(0px);
        }
        .bottom {
            transform: rotateX(-90deg) translateZ(150px) rotateZ(-90deg);
        }
        /* Rotate the one-screen */
        .one-screen:hover {
            // bottom to front
            // transform: rotateX(90deg);
            // top to front
            // transform: rotateX(-90deg);
            // left to front
            // transform: rotateY(90deg);
            // back to front, front to back
            // transform: rotateY(180deg);
            // right to front
            // transform: rotateY(-90deg);
        }
    }